header h1 {
	text-align: center;
	color: #FF9900;
	font-size: 3em;
}

body {
	margin: 0 10%;
	min-width: 800px;
	background-color: #DEF7FF;
}

article {
	margin: 0 20%;
}

#kirjautuminen {
	float: left;
}

.navigaatio ul {
    height: 40px;
    line-height: 30px;
	background-color: #99CC00;
    margin: 3em auto 2em auto;
	list-style-type: none;
}

.navigaatio ul li {
	float: right;
	display: inline;
	margin-right: 2em; 	
}

.navigaatio ul li a {
	text-decoration: none;
	padding: 5px 0.5em;
    display: inline-block;
	color: #DEF7FF;
}

.navigaatio ul li a:hover {
    background-color: #DEF7FF;
    color: #99CC00;
}

#omat_tiedot {
	margin-left: 20%;
	margin-top: 100px;
}

#omat_tiedot h1 {
	margin-bottom: 40px;
}

#omat_tiedot table {
	border-style: solid;
	border-collapse: collapse;
	border-style: hidden;
	margin-right: 2em;
	float: left;
}

#omat_tiedot table th {
	text-align: left;
	padding: 0em 0.5em;
}

#omat_tiedot table td {
	vertical-align: text-top;
	padding: 0em 1em;

}

#omat_tiedot table tr td ul {
	margin-left: -2em;
	margin-top: 0.5em;
	list-style-type: none;
}

#hinta {
	text-align: right;
}

#omat_tiedot input {
	margin-top: 1.5em;
}

#selaa {
	padding-top: 5%;
}

#selaa #tuote {
	overflow: auto;
	margin-left: 15%;
	padding-left: 1em;
}

img{
	max-height: 250px;
	max-width: 250px;
}

#selaa #kuva {
	margin: 0.5em;
	float: left;
	width: 250px;
	min-height: 150px;
}

#selaa #tuote #kuva img {
	display: block;
    margin: auto;
}

#selaa #tuote #tuotetiedot {
	margin-top: 1em;
}

#selaa div p {
	margin: -0.5em 0;
	padding-top: 0.5em;
}

#selaa #ryhmavalikko  ul {
	list-style-type: none;
	float: left;
	padding-right: 3em;
	margin-left: -2em;
}

#selaa #ryhmavalikko  ul li  {
	padding: 0.5em 0;
}

#selaa #ryhmavalikko ul  li p {
	margin-bottom: -0.1em;
}

#selaa #ryhmavalikko  ul li a {
	text-decoration: none;
}

#muuta {
	margin-left: 20%;
	margin-top: 100px;
}

#muuta  h1 {
	margin-bottom: 40px;
}

#muuta  td {
    padding: 0 1.5em;
}

#muuta  #hyvaksy {
	margin-top: 4em;
	margin-left: -8em;
}

#muuta  #hinta {
	float: left;
	margin-left: 1.5em;
}

#lisaa fieldset {
	width: 50%;
}

#lisaa li {
	padding: 1em;
}

#muutos {
	width: 60%;
}

#kuvaus {
	margin-left: 3em;
	color: gray;
}

#tuotteet {
	border-style: none;
	border-width: 1px;
	border-collapse: collapse;
}

#tuotteet td {
	border-right-style: solid;
	border-width: 1px;
	padding: 1em;
	border-color: #C2E066;
}

#tuotteet th {
    background-color: #C2E066;
}

#tuotteet #oikealaita {
    border-right-style: none;
}


#tuotteet img {
    max-height: 100px;
    width: auto;
}

#tuotteet tr:nth-child(even) {
    background: white;
}

#tuotteet tr:nth-child(odd) {
    background: #F0FFC2;
}

.keskita {
	text-align: center;
}

.tilaaymparille {
	margin: 1.5em 0;
	padding: 0.5em;
}
.inline {
	display: inline;
}

.pienifontti {
    font-size: 0.9em;
    color: gray;
}

#lasku {
	list-style-type: none;
}

#lasku  li{
	margin: 1em 0;
}

footer {
	text-align: right;
	position: fixed;
	bottom: 0;
	right: 1em;
	font-size: 0.7em;
	color: gray;
}

#lennot {
	margin-top: 2em;
}

#lennot li {
	margin: -2em 0;
}
